
<div class="hero-unit">
	<h1>Do you know where the .erb is?</h1>
	<p>
		You've found the home page for the
		<%= link_to "Rad Bear's Cave", "http://theradbear.tumblr.com"%>
		thingy.
	</p>
	<p>
		<%= link_to "Sign up Bitches!!", "#", class: "btn btn-primary btn-large" %>
	</p>
</div>